<!-- one way data binding -->

<!-- String interpolation -->
<h1>Hello World</h1>
{{ title }}
<h2>{{ name }}</h2>

<app-students></app-students>
<app-teachers></app-teachers>

<!-- Property binding -->
<img [src]="imageUrl" alt="">
<a [href]="url">Youtube</a>
<br>
<!-- Event binding -->
<button type="button"(click)="onSubmit()">Click me</button>
<br> <br>

<!-- Attribute binding -->
<table>
  <tr>
    <td>1</td>
    <!-- we need to prefix the attribute with attr. for attribute binding -->
    <td [attr.colspan]="numColumnCollapse">2</td>
    <!-- <td>3</td> -->
  </tr>
  <tr>
    <td>4</td>
    <td>5</td>
    <td>6</td>
  </tr>
</table>
<br>

<!-- Class binding -->
<div [class]="cssClass">Hello from the other side</div> 

<!-- Style binding -->
<div [style.background-color] = "bgColor">Hello again from out there</div>

<!-- Two way data binding [(ngModel)]="variable" -->
<input [(ngModel)]="name"> {{ name }}

<!-- Directives -->
<!-- ngClass Directive -->
<div [ngClass]="{'border': false, 'blue': showBlueColor, 'green': !showBlueColor}">Another div</div>

<button type="button" (click)="showBlueColor = true">Show blue</button>
<button type="button" (click)="showBlueColor = false">Show green</button>

<!-- ngStyle Directive -->
<div [ngStyle]="{'background-color': bgColor, 'color': 'red'}">Yet another div</div>

<!-- ngFor Directive --used for looping in HTML-->
<ul>
  <li *ngFor="let studentName of names">{{ studentName }}</li>  
</ul>

<!-- ngIf Directive --used for conditionals in HTML -->
<!-- if -->
<!-- <div *ngIf="showBlueColor ">Show this text</div> -->

<!-- if else -->
<div *ngIf="showBlueColor; else elseContainer ">Show blue</div>
<ng-template #elseContainer>Show green</ng-template>